<%= image_tag("signin.png",:alt => "im sad", :size=> "400x100")%>
<p>Access will be limited unless you are signed in</p>
<%= form_tag sessions_path do %>
    <table>   
     <tr>  
          <td><%= label_tag :name %></td>
            <td><%= text_field_tag :name %>
        </tr>
        <tr>  
          <td><%= label_tag :password %></td> 
           <td><%= password_field_tag :password %>
        </tr>   
     <tr>  
          <td><%= submit_tag "Sign in" %></td>
        </tr> 
   </table>
<% end %>
