<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin1.name %>
</p>

<p>
  <b>Email:</b>
  <%= @admin1.email %>
</p>


<%= link_to 'Edit', edit_admin1_path(@admin1) %> |
<%= link_to 'Back', admin1s_path %>
