<%= form_for(@order1) do |f| %>
  <% if @order1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order1.errors.count, "error") %> prohibited this order1 from being saved:</h2>

      <ul>
      <% @order1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :paymethod %><br />
     <%= f.select :paymethod , ["Debit Card", "Credit Card", "Paypal"] %>	
  </div>
  
  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
<% end %>
